<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sehun.android_pet_community">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ReservationActivity"
            android:exported="true" />
        <activity
            android:name=".MapActivity"
            android:exported="true" />
        <activity
            android:name=".MessageActivity"
            android:exported="true" />
        <activity
            android:name=".WaitActivity"
            android:exported="true" />
        <activity
            android:name=".Client.ClientManagerIntroductionActivity"
            android:exported="true" />
        <activity
            android:name=".Manager.ManagerInput2Activity"
            android:exported="true" />
        <activity
            android:name=".Manager.ManagerInput1Activity"
            android:exported="true" />
        <activity
            android:name=".Client.ClientInput2Activity"
            android:exported="true" />
        <activity
            android:name=".Client.ClientInput1Activity"
            android:exported="true" />
        <activity
            android:name=".Manager.Manager"
            android:exported="true" />
        <activity
            android:name=".Client.Client"
            android:exported="true" />
        <activity
            android:name=".ModeActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sehun.android_pet_community.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



    </application>

</manifest>